* {
    margin: 0px;
    padding: 0px;
}

#image {
    width: 100%;
    height: auto;
}

#scanned  {
    display: none;
    width: 100%;
    height: 100%;
}

#scanned canvas  {
    width: 100%;
    height: auto;
}

#wrapper {
    display: block;
    width: 90%;
    height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* media query for desktop */
@media only screen and (min-width: 600px) {
    #wrapper {
        width: 50%;
        margin: auto;
    }
}

#control {
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

button {
    display: inline-block;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 0px solid transparent;
    margin: 6px;
   
}

#after_scan,#after_save {
    display: none;

}